:root {
  --primary-color: black;
  --secondary-color: #f2f2f2;
  --secondary-color-hover: #dfdfdf;
  --background-color: #f8f8f8;

  --border-color: #c5c5c5;

  --primary-text-color: black;
  --secondary-text-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tajawal, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}
